# Dependências
node_modules/
.pnp
.pnp.js

# Expo e React Native
.expo/
dist/
web-build/
metro.config.js.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente / Configurações locais
.env
.env.local
.DS_Store